* {
  /*margin-top: 10px;
  margin-right: 15px;
  margin-bottom: 10px;
  margin-left: 15px;*/
  /*padding-top: 10px;
  padding-right: 15px;
  padding-bottom: 10px;
  padding-left: 15px;*/
  margin: 10px 15px 10px 15px;
  padding: 10px 15px 10px 15px;
  border: 2px solid red
}
body {
  font-family: 'Allerta', sans-serif;
}
.titulo {
  font-size: 70px;
  font-family: 'Montserrat', sans-serif;
}
.title-a {
  font-size: 24px;
}
.title-b {
  font-size: 50px;
}
.guitarras {
  color: #1F313C;
}
.guitarras  h2 {
  font-size: 35px;
  font-family: 'Montserrat', sans-serif;
}
.portada {
  background-image: url('../images/background.png');
  color: white;
}
.logotipo, .menu, .menu li {
  display: inline-block;
}
